{% extends "layout.html" %}
{% block title %}Sport{% endblock %}
{% block content %}

<div class="jumbotron">
        <h1>Dislike Page</h1>



	<form role="form" action="/dislike_add" method="post" name="sport_block" class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-10">
				<p>Please select your ID?</p>
				{% for user_id1, username, name, surname, email, password, followercount in users %}
					<input type="radio" name="user_ids" value="{{user_id1}}"> {{username}}<br>
				{% endfor %}
				<p> Which one do you want to dislike?  <p/>
			</div>


			<table class="table table-bordered table-striped">
				<tr>
				<th class="col-sm-1"> SELECT </th>
				<th class="col-sm-1"> HYPE_ID </th>
				<th class="col-sm-6"> HYPE </th>
				<th class="col-sm-2"> TOPIC </th>
				<th class="col-sm-2"> DATE </th>
				</tr>

				{% for hype_id, user_id, date, text, topic in hypes %}
				<tr>
				<td> <input type="checkbox" name="hype_dislike" value="{{hype_id}}"> </td>
				<td> {{ hype_id }}</td>
				<td> {{ text }} </td>
				<td> {{ topic }} </td>
				<td> {{ date }} </td>
				</tr>
				{% endfor %}

			</table>
					<div class="col-sm-10"> <p>DISLIKE REASON</p> </div>
					<div class="col-sm-10"> <input type="text" name="reason" requeired autofocus></input> </div>

					<div class="col-sm-10">
						<button type="submit" name="Blockla" class="btn btn-primary">DISLIKE!</button>
					</div>


		</div>
	 </form>


</div>

{% endblock %}
