.textarea {
  font-size: 20pt;
  line-height: 1;
}
.hype-avatar {
  height: 50;
  margin-top: 20px;
}
.hype {
  padding: 5;
  border: 5;
  font-size: 20pt;
}
.avatar {
  height: 100;
  margin-top: 10;
}
