{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<head>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='contact.css')}}" rel="stylesheet" />
</head>
<br />
<p>Updates Contact Us page</p>
<br /><br />
<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <!-- Form -->
        <form id="contact-us" method="post" action="/contact/update/<ticket_id>">
            <!-- Left Inputs -->
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            	<!-- Ticket_ID -->
                <input type="hidden" name="ticket_id" value="{{ticket_id}}" />
            	<!-- Subject -->
                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                <!-- Name -->
                <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                <!-- Surname -->
                <input type="text" name="surname" id="surname" required="required" class="form" placeholder="Surname" />
                <!-- Email -->
                <input type="email" name="email" id="mail" required="required" class="form" placeholder="Email" />
                <!-- Message -->
                <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                <!-- Send Button -->
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Update Info</button>
            </div><!-- End Left Inputs -->
        </form>
    </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
{% endblock %}