{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<head>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='contact.css')}}" rel="stylesheet" />
</head>
<br /><br /><br />
<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <!-- Form -->
        <form id="contact-us" method="post" action="/contact/delete/<ticket_id>">
            <!-- Left Inputs -->
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                <!-- Ticket_id -->
                <input type="number" name="ticket_id" id="ticket_id" required="required" class="form" placeholder="ticket_id" />
                <!-- Send Button -->
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Delete</button>
            </div><!-- End Left Inputs -->
        </form>
    </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
{% endblock %}