{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="jumbotron">
        <h1>All entries under Contact Us</h1>
		<table class="table table-bordered table-striped">
			<tr>
			<th class="col-sm-1"> Ticket ID </th>
			<th class="col-sm-1"> Subject </th>
			<th class="col-sm-1"> Name </th>
			<th class="col-sm-1"> Surname </th>
			<th class="col-sm-1"> Email </th>
			<th class="col-sm-5"> Message </th>
			<th class="col-sm-5"> Update / Delete</th>
			</tr>

			{% for ticket_id,subject, name, surname, email, message  in contacts %}
			<tr>
			<td> {{ ticket_id }} </td>
			<td> {{ subject }}</td>
			<td> {{ name }} </td>
			<td> {{ surname }} </td>
			<td> {{ email }} </td>
			<td> {{ message }} </td>
			<td> <a href="{{ url_for('update_contact', ticket_id=ticket_id) }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> Update </a>
				 <a href="{{ url_for('delete_contact', ticket_id=ticket_id) }}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-remove"></span> Delete </a>
			</td>
			</tr>
			{% endfor %}

		</table>
{% endblock %}