{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block content %}

      <h1>Republic Day of Turkey  29 October</h1>
        <p>The holiday commemorates the events of 29 October 1923, when Mustafa Kemal declared that Turkey was henceforth a republic. Turkey had de facto been a republic since 23 April 1920, the date of the establishment of the Grand National Assembly of Turkey, but the official confirmation of this fact came only three-and-a-half years later. On 29 October 1923, the status of the nation as a republic was declared and its official name was proclaimed to be Türkiye Cumhuriyeti ("the Republic of Turkey"). After that, a vote was held in the Grand National Assembly, and Atatürk was elected as the first President of the Republic of Turkey.</p>
      <h1>United States presidential election of 2016</h1>
        <p>Voters will select presidential electors, who in turn will vote for a new president and vice president through the Electoral College. The term limit established in the Twenty-second Amendment to the United States Constitution prevents the incumbent president, Barack Obama of the Democratic Party, from being elected to a third term. The 2016 election will determine the 45th President and 48th Vice President of the United States.</p>


{% endblock %}
