{% extends "layout.html" %}
{% block title %}Hype Feed{% endblock %}
{% block content %}
<head>
    <link href="{{url_for('static', filename='hypeline.css')}}" rel="stylesheet" />
</head>
    <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <a href="#"><img src="{{url_for('static', filename='avatar-1577909_1280.png')}}" class="img-responsive avatar"></a>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <form class="form-signup" action="/hypeline/hype" id="hypeline_hype" method=post>
                    <div class="form-group textarea">
                      <div class="col-sm-offset-0 col-sm-12">
                        <textarea rows="5" maxlength="149" type="text" class="form-control textarea" name="hype_text" id="hype_text" placeholder="What's Hype?"></textarea>
                        <textarea rows="1" maxlength="149" type="text" class="form-control textarea" name="hype_tag" id="hype_tag" placeholder="#Tag ME"></textarea>
                        <label for="topic" class="sr-only">Topic</label>
                        <select name = "topic" id="topic" class="form-control">
                            <option value="Music">Music</option>
                            <option value="News">News</option>
                            <option value="Technology">Technology</option>
                            <option value="Sport">Sport</option>
			</select>
                      </div>
                    </div>
                  </form>
                    <div class="form-group">
                      <div class="col-sm-offset-0 col-sm-2">
                        <button type="button" class="btn btn-default">Photo</button>
                      </div>
                      <div class="col-sm-offset-0 col-sm-2">
                        <button type="button" class="btn btn-default">File</button>
                      </div>
                      <div class="col-sm-offset-6 col-sm-2">
                        <button type="submit" form="hypeline_hype" class="btn btn-default">Hype!!</button>
                      </div>
                    </div>
              </div>
            </div>
            {% for username, text, topic, date in hypes %}
            <div class="col-sm-offset-3 col-sm-7">
              <div class="row hype">
                <div class="col-sm-offset-0 col-sm-2">
                  <a href="{{ url_for('account_page', username=username)}}" class=""><img src="{{url_for('static', filename='avatar-1577909_1280.png')}}" class="img-responsive img-rounded hype-avatar"></a>
		  <a href="{{ url_for('hypeline_follow', username=username  )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> FOLLOW </a>
                </div>
                <div class="col-sm-9">
                  <h2><strong>{{ username }}</strong><small> posted in {{ topic }}, at {{ date }}</small></h2>
                  <p>{{ text }}</p>
                </div>
              </div>
              <div class="row buttons">
				<div class="col-sm-offset-2 col-sm-1">
					<button type="submit" class="btn btn-default">Comment</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
					<button type="submit" class="btn btn-default">Rehype</button>
                </div>
		<div class="col-sm-offset-1 col-sm-1">
					<a href="{{ url_for('hypeline_dislike_add', text=text, topic=topic , date=date, username=username )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> Dislike </a>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
					<button type="submit" class="btn btn-default">Favorite</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
					<a href="{{ url_for('hypeline_block', username=username  )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-wrench"></span> BLOCK</a>
                </div>
                <div class="col-sm-offset-0 col-sm-4">
                </div>
			  </div>
			  <br><br>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}

