{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="container">

		<div class="row">
			<div class="col-sm-8">
				<div class="page-header">
	        		<h1>Music</h1>
				</div>
			</div>
			<div class="col-sm-2">
				<a href="{{ url_for('hypeline_page') }}" class="btn btn-default btn-lg active" role="button">New</a>
			<p></p>
			</div>
			<div class="col-sm-2">
				<div class="panel panel-default">
					<h1 class="panel-title"><b> Trending Hypes</b></h1>
					<div class="panel-body">
						{% for trending_id, hype_id, tag, date, count in trending %}
							<p><a href="{{ url_for('music_page_trending', hype_id=hype_id) }}" role="button">{{tag}}</a></p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% for hype_id, user_id, date, text, topic in hypespage %}
      	<div class="row">
	        <div class="col-sm-10">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	            {% for user2_id, username, name, surname, email, password, count in hypespageUsername %}
	            	{% if user_id == user2_id %}
	              		<h3 class="panel-title"> Username : {{ username }}</h3>
			        <a href="{{ url_for('hypeline_follow', username=username  )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> FOLLOW </a>
	              	{% endif %}
	            {% endfor %}
	            </div>
	            <div class="panel-body">
	              <p>Hype : {{ text }}</p>
	              <p>Date : {{ date }}</p>
		      <td> <a href="{{ url_for('sport_page_add', follower_id=user_id  )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> FOLLOW </a>
			   <a href="{{ url_for('sport_page_delete', follower_id=user_id)}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-remove"></span> UNFOLLOW </a>
	       	      </td>
	            </div>
	            <div class="panel-body">
	              <a href="{{ url_for('music_page_add', hype_id=hype_id) }}" class="btn btn-default btn-lg active" role="button">Rehype</a>
	            </div>
	            <div class="panel-body">
		              <form role="form" action="/favoriteadd" method="post" name="favorite_add" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-10">
								<input type="hidden" name="hype_id" required autofocus value="{{hype_id}}"/>
							</div>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" name="addFav" class="btn btn-primary">Add Favorite</button>
							</div>
						</div>
					  </form>
	          </div>
	        </div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<a href="{{ url_for('rehypes_list') }}">Rehypes List</a><br>
		<a href="{{ url_for('favorites_select') }}">Favorites List</a>
	</div>

{% endblock %}
