{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
NEWS
This page will contain news related hypes.

Example:
<div class="container">
  <div class="jumbotron">
    <h1>Climate change could drive 122m more people into extreme poverty by 2030</h1>
    <h2>Authored by: Claire Provost</h2>
    <p>
    Up to 122 million more people worldwide could be living in extreme poverty by 2030 as a result of climate change and its impacts on small-scale farmers’ incomes, a major UN report warned on Monday.
    Climate change is “a major and growing threat to global food security”, said the report, warning that it could increase the global population living in extreme poverty by between 35 and 122 million by 2030, with farming communities in sub-Saharan Africa among the hardest hit.</p><p>
    Taken from: https://www.theguardian.com/global-development/2016/oct/17/climate-change-could-drive-122m-more-people-into-extreme-poverty-by-2030-un-united-nations-report 
    </p>
  </div>
</div>
{% endblock %}
