{% extends "layout.html" %}
{% block title %}Pictures{% endblock %}
{% block content %}

<head>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='contact.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
    	<div class="row">
			<div class="col-sm-12">
				<h1>Selected Pictures from the Database</h1>
				<table class="table table-bordered table-striped">
					<tr>
					<th class="col-sm-2"> Picture ID </th>
					<th class="col-sm-2"> User ID </th>
					<th class="col-sm-4"> URL </th>
					</tr>
					{% for picture_id,user_id, url in picturespage %}
					<tr>
						<td> {{ picture_id }}</td>
						<td> {{ user_id }} </td>
						<td> {{ url }} </td>
						<td> <a href="{{ url_for('update_picture', picture_id=picture_id)}}" style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> UPDATE </a>
							 <a href="{{ url_for('delete_picture', picture_id=picture_id)}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-remove"></span> DELETE </a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
    </div> <!-- /container -->
  </body>
{% endblock %}