{% extends "layout.html" %}
{% block title %}Add Picture{% endblock %}
{% block content %}

<head>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='contact.css')}}" rel="stylesheet" />
</head>
<br />
<a href="{{url_for('home_page')}}">Skip adding pictures</a>
<br /><br /><br />
<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <!-- Form -->
        <form id="contact-us" method="post" action="/user/picture/add">
            <!-- Left Inputs -->
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            	<!-- User Id -->
            	<input type="hidden" name="user_id" value="{{user_id}}" />
            	<!-- URL -->
                <input type="text" name="url" id="url" required="required" class="form" placeholder="URL of the picture" />
                <!-- Send Button -->
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
            </div><!-- End Left Inputs -->
        </form>
    </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
{% endblock %}