{% extends "layout.html" %}
{% block title %}Sport{% endblock %}
{% block content %}

<div class="jumbotron">
        <h1>Sport Page</h1>



	<form role="form" action="/sport_block" method="post" name="sport_block" class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-10">
				<p>Please select your ID?</p>
				{% for user_id1, username, name, surname, email, password, followercount in sportuser %}
					<input type="radio" name="user_ids" value="{{user_id1}}"> {{username}}<br>
				{% endfor %}

			</div>

			<table class="table table-bordered table-striped">
				<tr>
				<th class="col-sm-1"> SELECT </th>
				<th class="col-sm-1"> USER_ID </th>
				<th class="col-sm-6"> HYPE </th>
				<th class="col-sm-2.5"> DATE </th>
				<th class="col-sm-2.5">FOLLOW/UNFOLLOW</th>
				</tr>

				{% for hype_id, user_id, date, text, topic in sportpage %}
				<tr>
				<td> <input type="checkbox" name="user_blocked" value="{{user_id}}"> </td>
				<td> {{ user_id }}</td>
				<td> {{ text }} </td>
				<td> {{ date }} </td>
				<td> <a href="{{ url_for('sport_page_add', follower_id=user_id  )}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-wrench"></span> FOLLOW </a>
					 <a href="{{ url_for('sport_page_delete', follower_id=user_id)}} " style="text-decoration:none;" class="btn btn-danger btn-sm" role="button"> <span class="glyphicon glyphicon-remove"></span> UNFOLLOW </a>
				</td>
				</tr>
				{% endfor %}

			</table>
					<div class="col-sm-10"> <p>BLOCK REASON</p> </div>
					<div class="col-sm-10"> <input type="text" name="reason" requeired autofocus></input> </div>

					<div class="col-sm-10">
						<button type="submit" name="Blockla" class="btn btn-primary">BLOCK!</button>
					</div>


		</div>
	 </form>


</div>

{% endblock %}
