{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>New Macbook Pro!</h1>
<p>Apple's MacBook Pro range hasn't been updated for some time: the 13-inch MacBook Pro with Retina was refreshed in March 2015 and the 15-inch in May. New MacBook Pros are clearly imminent, especially considering Apple's market share in the computing space fell 4.9% in Q2 2016 compared to the year prior.</p>
<p>Taken from http://www.techradar.com/news/mobile-computing/laptops/macbook-pro-2016-release-date-news-and-rumors-1318467</p>
<p>Author: Garry Marshall</p>
{% endblock %}
